!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.o
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dist::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUtils::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip

# VScode
.vstags
.vscode

# Perl local library directory (carton)
components/mojo-core/local/
components/mojo-core/dev/local
# Perl dzil build directory
components/mojo-core/.build/
# Perl dzil release files
components/mojo-core/Mojo-Core-*.*
# Ignore the docker-compose.override.yml file, an example of this is within
# components/mojo-core/dev/
docker-compose.override.yml

